@model IEnumerable<demoWebAppCore.Models.StudentsExams>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Grade)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.PpkfkexamNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PpkfkstudentNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PpkfkexamNavigation.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PpkfkstudentNavigation.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
